/* Los degradados CSS le permiten mostrar transiciones suaves entre dos o más colores específicos.

CSS define tres tipos de gradientes:

Gradientes lineales (baja/arriba/izquierda/derecha/diagonalmente)
Gradientes radiales (definidos por su centro)
Gradientes cónicos (girados alrededor de un punto central) */

/* Gradientes lineales CSS
Para crear un degradado lineal, debe definir al menos dos paradas de color. Las paradas de color son los colores entre los que desea generar transiciones suaves. También puede establecer un punto de partida y una dirección (o un ángulo) junto con el efecto de degradado. */

/* Dirección: de arriba a abajo (esto es predeterminado)

El siguiente ejemplo muestra un degradado lineal que comienza en la parte superior. Comienza en rojo, pasando a amarillo: */

.grad {
  width: 100%;
  height: 150px;
}

.grad,
.gradFlex {
  margin-bottom: 50px;
}

.grad1 {
  background-image: linear-gradient(red, yellow);
}

.grad2 {
  background-image: linear-gradient(to top, red, yellow);
}

.grad3 {
  background-image: linear-gradient(to right, red, yellow);
}

.grad4 {
  background-image: linear-gradient(to left, red, yellow);
}

/* Dirección - Diagonal

Puede hacer un degradado en diagonal especificando las posiciones de inicio horizontal y vertical.

El siguiente ejemplo muestra un degradado lineal que comienza en la parte superior izquierda (y continúa en la parte inferior derecha). Comienza en rojo, pasando a amarillo: */

.grad5 {
  background-image: linear-gradient(to bottom right, red, yellow);
}

.grad6 {
  background-image: linear-gradient(to bottom left, red, yellow);
}

.grad7 {
  background-image: linear-gradient(to top right, red, yellow);
}

.grad8 {
  background-image: linear-gradient(to top left, red, yellow);
}

/* Usando ángulos
Si desea tener más control sobre la dirección del degradado, puede definir un ángulo, en lugar de las direcciones predefinidas (hacia abajo, hacia arriba, hacia la derecha, hacia la izquierda, hacia abajo a la derecha, etc.). Un valor de 0 grados es equivalente a "to top". Un valor de 90 grados es equivalente a "a la derecha". Un valor de 180 grados es equivalente a "hasta abajo". */

.grad9 {
  background-image: linear-gradient(180deg, red, yellow);
}

/* Uso de varias paradas de color
El siguiente ejemplo muestra un degradado lineal (de arriba a abajo) con varias paradas de color: */

.grad10 {
  background-image: linear-gradient(red, yellow, green);
}

/* El siguiente ejemplo muestra cómo crear un degradado lineal (de izquierda a derecha) con el color del arcoíris y algo de texto: */

.grad11 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.grad11 h2 {
  text-align: center;
  font-size: 50px;
}

/* Uso de la transparencia
Los degradados CSS también admiten la transparencia, que se puede utilizar para crear efectos de desvanecimiento.

Para agregar transparencia, usamos la función rgba() para definir las paradas de color. El último parámetro en la función rgba() puede ser un valor de 0 a 1 y define la transparencia del color: 0 indica transparencia total, 1 indica color completo (sin transparencia).

El siguiente ejemplo muestra un degradado lineal que comienza desde la izquierda. Comienza completamente transparente, con la transición a todo color rojo: */

.grad12 {
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}

/* Repetir un gradiente lineal
La función repeating-linear-gradient() se usa para repetir gradientes lineales: */

.grad13 {
  background-image: repeating-linear-gradient(red, yellow 10%, green 40%);
}

/* Gradientes radiales CSS
Un gradiente radial se define por su centro.

Para crear un degradado radial, también debe definir al menos dos paradas de color.

Sintaxis
background-image: radial-gradient(shape size at position, start-color, ..., last-color);
De forma predeterminada, la forma es elipse, el tamaño es la esquina más alejada y la posición es el centro.

Gradiente radial - Paradas de color uniformemente espaciadas (esto es predeterminado)

El siguiente ejemplo muestra un degradado radial con paradas de color uniformemente espaciadas: */

.grad14 {
  background-image: radial-gradient(red, yellow, green);
}

/* Degradado radial: paradas de color separadas de forma diferente

El siguiente ejemplo muestra un degradado radial con paradas de color separadas de forma diferente: */

.grad15 {
  background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}
/* 
Establecer forma
El parámetro de forma define la forma. Puede tomar el valor círculo o elipse. El valor predeterminado es elipse.

El siguiente ejemplo muestra un degradado radial con la forma de un círculo: */

.grad16 {
  background-image: radial-gradient(circle, red, yellow, green);
}

/* Uso de palabras clave de diferentes tamaños
El parámetro de tamaño define el tamaño del degradado. Puede tomar cuatro valores:

lado más cercano
lado más lejano
esquina más cercana
esquina más lejana */

.gradClave,
.gradConico {
  width: 300px;
  height: 300px;
}

.gradFlex {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.grad17 {
  background-image: radial-gradient(
    closest-side at 60% 55%,
    red,
    yellow,
    black
  );
}

.grad18 {
  background-image: radial-gradient(
    farthest-side at 60% 55%,
    red,
    yellow,
    black
  );
}

.grad19 {
  background-image: radial-gradient(
    closest-corner at 60% 55%,
    red,
    yellow,
    black
  );
}

.grad20 {
  background-image: radial-gradient(
    farthest-corner at 60% 55%,
    red,
    yellow,
    black
  );
}

.grad21 {
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

/* Gradientes cónicos CSS
Un degradado cónico es un degradado con transiciones de color giradas alrededor de un punto central.

Para crear un degradado cónico, debe definir al menos dos colores.

Sintaxis
background-image: conic-gradient([from angle] [at position,] color [degree], color [degree], ...);
De forma predeterminada, el ángulo es 0 grados y la posición es el centro.

Si no se especifica ningún grado , los colores se distribuirán por igual alrededor del punto central.

Gradiente cónico: tres colores
El siguiente ejemplo muestra un degradado cónico con tres colores: */

.grad22 {
  background-image: conic-gradient(red, yellow, green);
}

/* Gradiente cónico: cinco colores
El siguiente ejemplo muestra un degradado cónico con cinco colores: */

.grad23 {
  background-image: conic-gradient(red, yellow, green, blue, black);
}

/* Gradiente cónico: tres colores y grados
El siguiente ejemplo muestra un degradado cónico con tres colores y un grado para cada color: */

.grad24 {
  background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}

/* Crear gráficos circulares
Simplemente agregue border-radius: 50%para que el gradiente cónico se vea como un pastel: */

.grad25 {
  background-image: conic-gradient(red, yellow, green, blue, black);
  border-radius: 50%;
}

/* Aquí hay otro gráfico circular con grados definidos para todos los colores: */

.grad26 {
  background-image: conic-gradient(
    red 0deg,
    red 90deg,
    yellow 90deg,
    yellow 180deg,
    green 180deg,
    green 270deg,
    blue 270deg
  );
  border-radius: 50%;
}

.grad27 {
  background-image: conic-gradient(from 90deg, red, yellow, green);
}

.grad28 {
  background-image: conic-gradient(from 45deg at 70% 30%, red, yellow, green);
}

/* Repetición de un gradiente cónico
La repeating-conic-gradient()función se utiliza para repetir gradientes cónicos: */

.grad29 {
  background-image: repeating-conic-gradient(red 10%, yellow 20%);
  border-radius: 50%;
}

/* Aquí hay un degradado cónico repetitivo con inicios y paradas de color definidos: */

.grad30 {
  border-radius: 50%;
  background-image: repeating-conic-gradient(
    red 0deg 10deg,
    yellow 10deg 20deg,
    blue 20deg 30deg
  );
}