* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Crea cuatro columnas iguales que se sitúan una al lado de la otra */

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Diseño responsivo - hace un diseño de dos columnas en lugar de cuatro columnas */

@media (max-width: 1024px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 640px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}