.grid__container {
    border: 5px solid black;
    padding: 10px;
}

h2 {
    font-size: 60px;
    text-align: center;
}

.grid__item {
    height: 100px;
    font-size: 50px;
    background-color: blue;
    color: #fff;
    border: 2.5px solid red;
}

/* display: grid; */

/* Define el elemento como un contenedor de cuadrícula y establece un nuevo contexto de formato de cuadrícula para su contenido. */

/* Valores:

grid – genera una grilla a nivel de bloque
inline-grid – genera una cuadrícula de nivel en línea */

.grid__container1 {
    display: grid;
}

.grid__container2 {
    display: inline-grid;
}