/* Propiedades para el padre
(contenedor flexible)
display
Esto define un contenedor flexible; en línea o bloque dependiendo del valor dado. Permite un contexto flexible para todos sus hijos directos. */

.flex__container {
  border: 5px solid black;
  margin-bottom: 30px;
  height: 200px;
}

.flex__container1 {
  display: flex;
}

.flex__item {
  width: 100px;
  background-color: red;
  color: #fff;
  margin: 30px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.flex__container2 {
  display: inline-flex;
}

/* flex-direction
se muestran los cuatro valores posibles de dirección de flexión: de arriba a abajo, de abajo a arriba, de derecha a izquierda y de izquierda a derecha

Esto establece el eje principal, definiendo así la dirección en que se colocan los artículos flexibles en el contenedor flexible. Flexbox es (aparte del envoltorio opcional) un concepto de diseño de una sola dirección. Piense en los elementos flexibles como dispuestos principalmente en filas horizontales o columnas verticales. */

/* row(predeterminado): de izquierda a derecha en ltr; de derecha a izquierda enrtl
row-reverse: de derecha a izquierda en ltr; de izquierda a derecha enrtl
column: igual que rowpero de arriba a abajo
column-reverse: igual que row-reversepero de abajo hacia arriba */

.flex__container3 {
  display: flex;
  flex-direction: row;
}

.flex__container4 {
  display: flex;
  flex-direction: row-reverse;
}

.flex__container5 {
  display: flex;
  flex-direction: column;
  height: auto;
}

.flex__container6 {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
}

/* envoltura flexible
dos filas de cajas, la primera envolviendo a la segunda
De forma predeterminada, todos los elementos flexibles intentarán encajar en una línea. Puede cambiar eso y permitir que los elementos se ajusten según sea necesario con esta propiedad. */

/* nowrap(predeterminado): todos los elementos flexibles estarán en una línea
wrap: los elementos flexibles se ajustarán a varias líneas, de arriba a abajo.
wrap-reverse: los elementos flexibles se ajustarán a varias líneas de abajo hacia arriba. */

.flex__container7 {
  display: flex;
  flex-wrap: nowrap;
}
.flex__container8 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.flex__container9 {
  display: flex;
  flex-wrap: wrap-reverse;
  height: auto;
}
