:root {
  --primaryColor: #080808;
  --secundaryColor: #00bc94;
  --tertiaryColor: #262626;
  --quaternaryColor: #9f9f9f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primaryColor);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* <!-- *************** HEADER ***************** --> */

.header {
  height: 100vh;
  background: linear-gradient(
      rgba(8, 8, 8, 0.2) 50%,
      rgba(8, 8, 8, 0.75) 75%,
      rgba(8, 8, 8, 1) 97%
    ),
    url(./img/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.container {
  padding: 10px 10%;
}

nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--secundaryColor);
  bottom: -10px;
  left: 0;
  border-radius: 50px;
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  width: 300px;
}

/* <!-- *************** HEADER-TEXT ***************** --> */

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.name {
  color: var(--secundaryColor);
}

.header-text h1 {
  position: relative;
}

.greeting {
  position: absolute;
  animation: greeting 3.5s ease-in-out 0.5s infinite alternate;
  transform: rotate(-15deg);
  transform-origin: bottom right;
  top: -20%;
  margin-left: 80px;
}

@keyframes greeting {
  100% {
    transform: rotate(15deg);
  }
}

.networks {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.networks a i {
  color: #fff;
  font-size: 40px;
  transition: all 0.4s;
}

.networks a i:hover {
  transform: translateY(-7px);
  color: var(--secundaryColor);
}

.arrows {
  display: flex;
  justify-content: center;
  animation: arrows 2s ease-in-out 0.5s infinite alternate;
  margin-top: 2%;
  opacity: 0;
}

.containerArrows {
  display: inline-block;
  transform: rotate(45deg);
}

@keyframes arrows {
  100% {
    transform: translateY(50%);
    opacity: 1;
  }
}

.arrow {
  width: 80px;
  height: 80px;
  border-right: 3px solid var(--secundaryColor);
  border-bottom: 3px solid var(--secundaryColor);
}

.arrow1 {
  width: 70px;
  height: 70px;
}

/* <!-- *************** ABOUT ***************** --> */

.about {
  padding: 80px 0;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerImg {
  flex-basis: 35%;
}

.containerImg img {
  width: 100%;
  border-radius: 20px;
}

.informationAboutMe {
  flex-basis: 60%;
}

.informationAboutMe p,
.titles {
  color: var(--quaternaryColor);
}

h2 {
  font-size: 60px;
}

.titles {
  display: flex;
  gap: 30px;
  font-size: 25px;
  position: relative;
  margin: 15px 0;
}

.titles h3 {
  position: relative;
  cursor: pointer;
}

.titles h3::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--secundaryColor);
  bottom: -10px;
  left: 0;
  border-radius: 50px;
  transition: width 0.4s;
}

.informationAboutMe h4 {
  color: var(--secundaryColor);
  font-size: 20px;
  margin-bottom: 10px;
}

.informationAboutMe p {
  margin-bottom: 10px;
}

.titles h3.active::after {
  width: 100%;
}

.information {
  display: none;
}

.information.active {
  display: block;
}

/* <!-- *************** SERVICES ***************** --> */

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

.service {
  background-color: var(--tertiaryColor);
  padding: 30px 30px;
  border-radius: 20px;
  transition: all 0.4s;
}

.service i {
  font-size: 50px;
}

.service h3 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
}

.service p {
  margin: 20px 0;
}

.service a {
  color: #fff;
  font-weight: bold;
}

.service:hover {
  transform: translateY(-10px);
  background-color: var(--secundaryColor);
}

/* <!-- *************** WORKS ***************** --> */

.works {
  padding: 80px 0;
}

.worksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 60px 0;
}

.work {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.work:hover .description {
  height: 100%;
}

.work img {
  width: 100%;
  border-radius: 30px;
  transition: transform 0.4s;
}

.work:hover.work img {
  transform: scale(1.1);
}

.description {
  position: absolute;
  top: 0;
  height: 0;
  background: linear-gradient(var(--secundaryColor), rgba(0, 0, 0, 0.5) 60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  text-align: center;
  transition: height 0.4s;
  overflow: hidden;
}

.description h3 {
  font-size: 25px;
}

.description p {
  margin: 20px 0 20px;
}

.description a {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.description a i {
  font-size: 20px;
  color: var(--secundaryColor);
}

.btn {
  display: block;
  color: var(--secundaryColor);
  padding: 14px 50px;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
}

.btn:hover {
  background-color: var(--secundaryColor);
  font-weight: bold;
  color: var(--primaryColor);
  box-shadow: 0 0 5px var(--secundaryColor), 0 0 25px var(--secundaryColor),
    0 0 50px var(--secundaryColor), 0 0 200px var(--secundaryColor);
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  background: linear-gradient(90deg, transparent, var(--secundaryColor));
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btn span:nth-child(2) {
  background: linear-gradient(180deg, transparent, var(--secundaryColor));
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  animation: animate2 1s linear 0.25s infinite;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btn span:nth-child(3) {
  background: linear-gradient(270deg, transparent, var(--secundaryColor));
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  animation: animate3 1s linear 0.5s infinite;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btn span:nth-child(4) {
  background: linear-gradient(360deg, transparent, var(--secundaryColor));
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  animation: animate4 1s linear 0.75s infinite;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* <!-- *************** CONTACT ***************** --> */

.contact {
  padding: 100px 0;
}

.containerContact {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.contactLeft {
  flex-basis: 35%;
}

.contactLeft p {
  margin: 30px 0;
  font-size: 20px;
}

.contactLeft p i {
  font-size: 30px;
  margin-right: 20px;
  vertical-align: middle;
  color: var(--secundaryColor);
}

.contactLeft .btn {
  margin: 45px 0;
}

.contactRight {
  flex-basis: 60%;
  padding-top: 15px;
}

.contactRight form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactRight form input,
.contactRight form textarea {
  background-color: var(--tertiaryColor);
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 10px;
  color: #fff;
}

.contactRight form textarea {
  height: 100px;
  resize: none;
}

.contactRight .btn {
  background-color: var(--primaryColor);
  border: none;
}

.contactRight .btn:hover {
  background-color: var(--secundaryColor);
}
