:root {
  --primaryColor: #080808;
  --secundaryColor: #00bc94;
  --tertiaryColor: #262626;
  --quaternaryColor: #9f9f9f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primaryColor);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* <!-- *************** HEADER ***************** --> */

.header {
  height: 100vh;
  background: linear-gradient(
      rgba(8, 8, 8, 0.2) 50%,
      rgba(8, 8, 8, 0.75) 75%,
      rgba(8, 8, 8, 1) 97%
    ),
    url(./img/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.container {
  padding: 10px 10%;
}

nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--secundaryColor);
  bottom: -10px;
  left: 0;
  border-radius: 50px;
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  width: 300px;
}

/* <!-- *************** HEADER-TEXT ***************** --> */

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.name {
  color: var(--secundaryColor);
}

.header-text h1 {
  position: relative;
}

.greeting {
  position: absolute;
  animation: greeting 3.5s ease-in-out 0.5s infinite alternate;
  transform: rotate(-15deg);
  transform-origin: bottom right;
  top: -20%;
  margin-left: 80px;
}

@keyframes greeting {
  100% {
    transform: rotate(15deg);
  }
}

.networks {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.networks a i {
  color: #fff;
  font-size: 40px;
  transition: all 0.4s;
}

.networks a i:hover {
  transform: translateY(-7px);
  color: var(--secundaryColor);
}

.arrows {
  display: flex;
  justify-content: center;
  animation: arrows 2s ease-in-out 0.5s infinite alternate;
  margin-top: 2%;
  opacity: 0;
}

.containerArrows {
  display: inline-block;
  transform: rotate(45deg);
}

@keyframes arrows {
  100% {
    transform: translateY(50%);
    opacity: 1;
  }
}

.arrow {
  width: 80px;
  height: 80px;
  border-right: 3px solid var(--secundaryColor);
  border-bottom: 3px solid var(--secundaryColor);
}

.arrow1 {
  width: 70px;
  height: 70px;
}

/* <!-- *************** ABOUT ***************** --> */

.about {
  padding: 80px 0;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerImg {
  flex-basis: 35%;
}

.containerImg img {
  width: 100%;
  border-radius: 20px;
}

.informationAboutMe {
  flex-basis: 60%;
}

.informationAboutMe p,
.titles {
  color: var(--quaternaryColor);
}

h2 {
  font-size: 60px;
}

.titles {
  display: flex;
  gap: 30px;
  font-size: 25px;
  position: relative;
  margin: 15px 0;
}

.titles h3 {
  position: relative;
  cursor: pointer;
}

.titles h3::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--secundaryColor);
  bottom: -10px;
  left: 0;
  border-radius: 50px;
  transition: width 0.4s;
}

.informationAboutMe h4 {
  color: var(--secundaryColor);
  font-size: 20px;
  margin-bottom: 10px;
}

.informationAboutMe p {
  margin-bottom: 10px;
}

.titles h3.active::after {
  width: 100%;
}

.information {
  display: none;
}

.information.active {
  display: block;
}

/* <!-- *************** SERRVICES ***************** --> */

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

.service {
  background-color: var(--tertiaryColor);
  padding: 30px 30px;
  border-radius: 20px;
  transition: all 0.4s;
}

.service i {
  font-size: 50px;
}

.service h3 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
}

.service p {
  margin: 20px 0;
}

.service a {
  color: #fff;
  font-weight: bold;
}

.service:hover {
  transform: translateY(-10px);
  background-color: var(--secundaryColor);
}
